asgiref
attrs
Django
django-cors-headers
django-jazzmin
django-storages
djangorestframework
djangorestframework-simplejwt
drf-yasg
gunicorn
mysql-connector-python
python-dotenv
redis
requests
sqlparse